
Packer/Isos/CentOS-7-x86_64-Minimal-1908.iso
Packer/packer_cache
Packer/output/4640_BASE.ova
Packer/base_4640.box
Packer/output
Vagrant/Isos/CentOS-7-x86_64-Minimal-1908.iso
Vagrant/packer_cache
Vagrant/output/4640_BASE.ova
Vagrant/.vagrant
Vagrant/base_4640.box
