#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Install OS instead of upgrade
install
# Use HTTP install media
url --url="http://192.168.230.200/centos"
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=static --device=enp0s3 --gateway=192.168.230.1 --ip=192.168.230.10 --nameserver=8.8.8.8 --netmask=255.255.255.0 --ipv6=auto --activate
network  --hostname=localhost.localdomain

# Root password
rootpw --iscrypted $6$exW3dxF5sBcsFP9b$vchZoZQmkuf/wN7rhU7AnO6IQBlIEgsq19Lu.2QICT8xTanirVUvnGm9x4plavYy7lUXXiN7sUh6VEudprleZ.
# System services
services --enabled="chronyd"
# System timezone
timezone America/New_York --isUtc
user --groups=wheel --name=admin --password=$6$yIzRyXYWYl52r682$xLdWJCxOoSTWrAtCVRbTgoIJ4lCLInq7/EDghRLoGxVTLzn31tpzbT77JMo4gLx7AdnOup2J1LUnjyAEIwXBT1 --iscrypted --gecos="admin"
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
autopart --type=lvm
# Partition clearing information
clearpart --all --initlabel --drives=sda

%packages
@^minimal
@core
chrony
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end

%post --interpreter=/bin/bash

cd /home/admin
echo P@ssw0rd | sudo -s yum install epel-release -y
sudo curl -O http://192.168.230.200/files/acit_admin_id_rsa.pub
sudo ssh-copy-id -i ./acit_admin_id_rsa.pub admin@localhost

sudo reboot now

%end
